:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --tw-bg-opacity: 1;
  background-color: rgba(239, 246, 255, var(--tw-bg-opacity));;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.Card{
    @apply w-72 h-auto shadow-lg rounded-3xl flex-none transition-all hover:-translate-y-4 hover:shadow-xl
    /* Se realizaron cambios */
}
/* h1{
  color: white;
} */